site:
  title: Continous Delivery
  url: /
  start_page: v0.13@continuous-delivery:en:index.adoc

content:
  sources:
    - url: ./
      start_paths: [versions/v0.13]
      branches: HEAD

# Description: SUSE UI bundle
ui:
  bundle:
    url: ./dsc-style-bundle/default-ui/ui-bundle.zip
    snapshot: true
  supplemental_files: ./dsc-style-bundle/supplemental-files/rancher

asciidoc:
  attributes:
    page-pagination: ''
    page-toclevels: 4@
  extensions:
    - '@asciidoctor/tabs'
antora:
  extensions:
  - require: '@antora/lunr-extension'
  - require: '@springio/antora-xref-extension'
  - require: ./product-docs-common/extensions/dynamic-loading-attributes/load-global-site-attributes.js
    attributefile: ./product-docs-common/global-attributes.yml
    enabled: true

output:
  dir: build/site