site:
  title: Fleet
  url: /
  start_page: v0.13@fleet:en:index.adoc

content:
  sources:
    - url: ./
      start_paths: [versions/v0.13]
      branches: HEAD

# Description: SUSE UI bundle
ui:
  bundle:
    url: https://github.com/rancher/product-docs-ui/blob/main/build/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: ./community-supp-files

asciidoc:
  attributes:
    page-pagination: ''
    build-type: community
    page-toclevels: 4@
  extensions:
    - '@asciidoctor/tabs'
antora:
  extensions:
  - require: '@antora/lunr-extension'
  - require: '@springio/antora-xref-extension'

output:
  dir: build/site-community
