site:
  title: Fleet
  url: /
  start_page: next@fleet::index.adoc

content:
  sources:
    - url: ./
      start_paths: [versions/v0.13, versions/v0.12]
      branches: HEAD

# Description: SUSE UI bundle
ui:
  bundle:
    url: https://github.com/SUSEdoc/dsc-style-bundle/blob/main/default-ui/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: ./dsc-style-bundle/supplemental-files/rancher

asciidoc:
  attributes:
    page-pagination: ''
    build-type: community
    page-toclevels: 4@
  extensions:
    - '@asciidoctor/tabs'
antora:
  extensions:
  - require: '@antora/lunr-extension'
  - require: '@springio/antora-xref-extension'

output:
  dir: build/site-community
